{% comment %}
This file is part of JuliaBase, see http://www.juliabase.org.
{% endcomment %}

{% if sample_positions %}
  {% load i18n %}
  {% load juliabase %}
  <table class="sample-positions">
    <caption>{% translate "sample positions"|capfirst %}</caption>
    {% for sample_position in sample_positions %}
      {% error_list sample_position _("General error") "<tr>" %}
      <tr>
        <td class="field-label">
         <label for="{{ sample_position.position.id_for_label }}"
             >{{ sample_position.sample }}:</label>
        </td>
        <td class="field-value">
          {{ sample_position.position }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
