{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/templates/samples/main_menu.html" %}
{% comment %}
This file is part of JuliaBase-Institute.
{% endcomment %}

{% load i18n %}
{% load static %}

{% block search_things_extras %}
  <li><a href="{% url 'samples:deposition_search' %}">{% translate 'Depositions by number' %}</a></li>
{% endblock %}

{% block miscellaneous_extras %}
  <li style='list-style-image: url("{% static "juliabase/icons/shape_square_edit.png" %}")'>
    <a href="{% url 'institute:edit_my_layers' login_name=user.username %}"
       >{% translate 'Edit “My Layers”' %}</a></li>
  {{ block.super }}
{% endblock %}
