{# -*- indent-tabs-mode: nil -*- #}
{% extends "samples/templates/samples/show_sample.html" %}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
{% endcomment %}

{% load i18n %}
{% load juliabase %}
{% load static %}

{% block extra_sample_header %}
  {% if sample.informal_stack_thumbnail_url %}
    <div style="float:right; margin-left: 1em; margin-right: 1em; margin-bottom: 1ex">
      <a href="{{ sample.informal_stack_url }}"><img src="{{ sample.informal_stack_thumbnail_url }}" alt="{% translate 'layer stack' %}"/></a><a 
           href="{% url 'institute:copy_informal_stack' sample_name=sample.sample.name %}?next={{ sample.sample.get_absolute_url|urlquote_plus }}"
                          ><img src="{% static "juliabase/icons/application_cascade.png" %}" alt="copy stack icon" title="{% translate 'copy informal stack' %}"
                                width="16" height="16"/></a>
    </div>
  {% endif %}
{% endblock %}
