{# -*- indent-tabs-mode: nil -*- #}
{% comment %}
This file is part of JuliaBase-Institute, see http://www.juliabase.org.
{% endcomment %}

{% load i18n %}
{% load samples_extras %}

<table style="margin-left: 15px" class="gesetz ordnung">
  <tr>
    {% value_field process.resin "µm" %}
  </tr>
  <tr>
    {% value_field process.respar "µm" %}
  </tr>
  <tr>
    {% value_field process.get_laser_display %}
  </tr>
  <tr>
    {% value_field process.diff %}
  </tr>
  <tr>
    {% value_field process.gain %}
  </tr>
  {% if process.comments %}
    <tr>
      <td class="field-label" style="vertical-align: top">{% verbose_name ThicknessMeasurement.comments %}:</td>
      <td class="field-value" style="font-weight: normal">{{ process.comments|markdown_samples:"collapse" }}</td>
    </tr>
  {% endif %}
</table>
{% if process.file %}
<table style="margin-left: 15px" class="gesetz ordnung">
  <tr>
    <td>Local URL:</td>
    <td>\\thm-netapp\thm-OE670\Projekte\laufend\35PE\50-Daten\Charakterisierung\LPS\{{ process.file }}</td>
  </tr>
</table>
{% endif %}
