{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_base.html" %}
{% comment %}
This file is part of JuliaBase-Institute
{% endcomment %}

{% load i18n %}

{% block css %}
  <style type="text/css">
    em { color: maroon }
  </style>
{% endblock %}


{% block app_title %}<a style="color: inherit; text-decoration: inherit" href="{{ default_home_url }}"
                        >JuliaBase</a>{% endblock %}

{% block title %}{% translate 'Resource not found' %}{% endblock %}
{% block content_title %}<div class="page-header"><h1>{% translate 'Resource not found' %}</h1></div>{% endblock %}

{% block frame_content %}
<p>{% blocktranslate %}
The resource » <em>{{ request_path }}</em> « could not be found.  Please check that the URL
is correct, and/or check that the denoted sample, process etc is already in the
database.
{% endblocktranslate %}</p>
<p style="margin: 0pt"> </p> <!-- IE7 quirk -->
<div style="clear: both"></div>
{% endblock %}
