{# -*- indent-tabs-mode: nil -*- #}
{% extends "jb_common/templates/jb_base.html" %}
{% comment %}
This file is part of JuliaBase-Institute
{% endcomment %}

{% load i18n %}
{% load static %}

{% block branding %}
  <div class="screen-only">
    <div style="float: right; vertical-align: top; width: 20em">
      <img style="float: right; padding-left: 5px" src="{% static "institute/sun.png" %}" alt="{% translate "INM logo" %}"/>
      <div style="text-align: right; color: #333333; font-weight: bold">
        {% translate "Institute of Nifty New<br/>Materials (INM)" %}
      </div>
    </div>
    <img style="float: left; margin-right: 5px"
         src="{% static "juliabase/juliabase_logo.png" %}" width="50" height="50" alt="{% translate "JuliaBase logo" %}"/>
    <p class="logo-text">{% block app_title %}{% endblock %}</p>
  </div>
{% endblock %}
